<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Unjuk Karya adalah platform untuk menampilkan karya-karya terbaik dari para penggiat seni">
  <link rel="icon" href="favicon.png">

  <!--  Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

  <!--  Icon  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />

  <title>Unjuk Karya</title>
</head>
<body>
  <header id="appBarContainer"></header>
  <main id="mainContent"></main>
  <explore-menu></explore-menu>
</body>
</html>
